body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%); /* Darker blue gradient background */
  color: #333; /* Dark gray text color */
  padding: 20px;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 40px;
}

.dashboard-header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.dashboard-header p {
  font-size: 1.2em;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.dashboard-card {
  background-color: #aedee6; /* A softer, lighter blue */
  border-radius: 15px;
  padding: 30px;
  width: 300px;
  height: 200px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none; 
  color: inherit; 
}



.dashboard-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.dashboard-card h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.dashboard-card p {
  font-size: 1em;
}

.dashboard-footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9em;
  color: #333;
  padding: 10px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: black;
  background-color: #aedee6;
  border: none;
  border-radius: 10px;
  text-decoration: none; 
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-button:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
