.home-container {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
  min-height: 100vh;  /* Ensures the background covers the full viewport height */
}

.home-header {
  background-color: rgba(40, 44, 52, 0.9); /* Slightly transparent background */
  color: white;
  padding: 50px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.home-header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home-header p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home-btn {
  background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
  color: #282c34;
  padding: 10px 20px;
  text-decoration: none;  
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.home-btn:hover {
  transform: translateY(-10px);
  background-color: #282c34; 
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.home-dashboard {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.home-dashboard-link {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent to blend with the gradient */
  color: #282c34;
  padding: 20px 40px;
  text-decoration: none;  
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.home-dashboard-link:hover {
  transform: translateY(-10px);
  background-color: rgba(255, 255, 255, 1); /* Full opacity on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.home-services {
  margin-top: 50px;
}

.home-services h2 {
  color: white; /* Make the heading stand out against the gradient background */
}

.services-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.service-item {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service-item a {
  text-decoration: none;  
  color: #282c34;
}
.service-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
