.seo-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #282c34;  
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
  color: white;  
}

.seo-container h1 {  
  margin-bottom: 20px;
  font-size: 2em;
}

.seo-container p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #dddddd;  
}

.seo-container h2 {
  color: #ff6600;  
  margin-bottom: 10px;
  font-size: 1.5em;
}

.seo-container ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #dddddd;  
}

.seo-container ul li {
  margin-bottom: 10px;
}